@using Reizen.CommonClasses.DTOs
@using System.Net
@using Microsoft.AspNetCore.Authorization

@page "/{Bestemmingscode}/reizen"

@inject IHttpClientFactory _httpFactory
@inject ILogger<Bestemming> _logger;

@* @attribute [Authorize] *@

@if (Reizen != null)
{
    <h3>@Reizen.FirstOrDefault()?.Bestemming.Plaats</h3>
    <img src="/bestemmingen/@(Reizen.FirstOrDefault()?.Bestemming.Plaats).jpg"/>
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">Vertrek</th><th scope="col">Prijs/person</th><th scope="col">Aantal dagen</th><th scope="col">Boeken</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var reis in Reizen)
            {
                <tr>
                    <td>@reis.Vertrek.ToString()</td><td>@reis.PrijsPerPersoon</td><td>@reis.AantalDagen</td><td><a href="/reisKiezen/@reis.Id">Boeken</a></td>
                </tr>
            }
        </tbody>
    </table>
}
@if (!String.IsNullOrEmpty(Error))
{
    <div class="alert alert-danger">@Error</div>
}

@code 
{
    [Parameter]
    public string Bestemmingscode { get; init; }

    private IEnumerable<ReisDTO>? Reizen;

    private string Error { get; set; }

    protected override async Task OnInitializedAsync()
    {
        if (!String.IsNullOrEmpty(Bestemmingscode))
        {
            using var httpClient = _httpFactory.CreateClient();

            var result = await HelperRequest.SendGetRequestAndParseJsonAsync<IEnumerable<ReisDTO>> ($"api/reizen/{Bestemmingscode}", httpClient);
            if (result.IsSuccessful)
            {
                Reizen = result.Value;
            }
            else
            {
                Error = result.Error;
            }
            
        }
    }
}
