@using BlazorApp1.Client.Components
@using Microsoft.AspNetCore.Authorization
@using System.Text.Json;
@using Reizen.CommonClasses.DTOs
@using System.Text

@page "/boeken/reis/{ReisId:int}/klant/{KlantId:int}"

@inject ILogger<Boeken> _logger;
@inject IHttpClientFactory _httpFactory

@rendermode InteractiveServer

@attribute [Authorize]

<div class="container">
    @if (Reis is not null && Klant is not null)
    {
        <h2>Trip</h2>
        <div class="row">

            <div class="col-lg-3">   
                <p style="font:bold">Destination:</p>
            </div>
            <div class="col-lg-1">
                <p>@Reis.Bestemming.Plaats</p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3">
                <p style="font:bold">Departure:</p>
            </div>
            <div class="col-lg-1"> 
                <p>@Reis.Vertrek</p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3">
                <p style="font:bold">Number days:</p>
            </div>
            <div class="col-lg-1">
                <p>@Reis.AantalDagen</p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3">
                <p style="font:bold">Price person:</p>
            </div>
            <div class="col-lg-1">
                <p>@Reis.PrijsPerPersoon</p>
            </div>
        </div>

        <h2>Klant</h2>
        <div class="row">
            <div class="col-lg-3">
                <p>@($"{Klant.Voornaam} {Klant.Familienaam}")</p>
            </div>
            <div class="col-lg-1">
                <p>@Klant.Adres</p>
            </div>
        </div>
        <h2>Boeking</h2>

        <div class="row">
            <div class="col-lg-3">
                <label for="aantalV">Number of adults</label>
            </div>
            <div class="col-lg-1">
                <InputNumber @bind-Value:get="(Boeking.AantalVolwassenen)" @bind-Value:set="((value) => Boeking.AantalVolwassenen=value)" id="aantalV"></InputNumber>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3">
                <label for="aantalK">Number of kids</label>
            </div>
            <div class="col-lg-1">
                <InputNumber @bind-Value:get="(Boeking.AantalKinderen)" @bind-Value:set="((value)=>{Boeking.AantalKinderen=value;})" id="aantalK"></InputNumber>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3">
                <label>Annulatie verzekering</label>
            </div>
            <div class="col-lg-1">
                <InputCheckbox id="annulatieV" @bind-Value="@Boeking.AnnulatieVerzekering"></InputCheckbox>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-3">

            </div>
            <div class="col-lg-2">
                <button type="submit" class="btn btn-primary" data-toggle="modal" @onclick="(() => Modal.Open())">Book trip</button>
            </div>
            <ModalComponent @ref="Modal" Message="Are you sure you want to book this trip?" Header="Confirmation" Callback="@(async ()=> await AddNewBooking())"></ModalComponent>
        </div>

    } 
    else 
    {
        <p>Waiting for data</p>
    }
</div>
@if (!String.IsNullOrEmpty(Error))
{
    <div class="alert alert-danger">@Error</div>
} else if (IsSuccessful)
{
    <div class="alert alert-success">Booking successful</div>
}

@code 
{
    private ModalComponent Modal { get; set; }

    [Parameter]
    public int ReisId { get; init; }

    [Parameter]
    public int KlantId { get; init; }

    private KlantDTO? Klant { get; set; }

    private ReisDTO? Reis { get; set; }

    private BoekingDTO? Boeking { get; set; } = new BoekingDTO { AantalKinderen = 0, AantalVolwassenen = 0, AnnulatieVerzekering = false };

    private string Error { get; set; }

    private bool IsSuccessful { get; set; } = false;

    protected override async Task OnInitializedAsync()
    {
        if (ReisId > 0) 
        {
            using (var httpClient = _httpFactory.CreateClient()) 
            {
                var result = await httpClient.GetAsync($"/api/reizen/{ReisId}");

                if (result.IsSuccessStatusCode)
                {
                    Reis = await result.Content.ReadFromJsonAsync<ReisDTO>();
                }
                else 
                { 
                    var content = await result.Content.ReadAsStringAsync();
                    if (!String.IsNullOrEmpty(content))
                    {
                        Error = content;
                    }
                    else
                    {
                        Error = "Something went wrong.";
                    }
                }
            }
        }
        if (KlantId > 0 && Reis != null)
        { 
            using (var httpClient = _httpFactory.CreateClient()) 
            {
                var result = await httpClient.GetAsync($"/api/klanten/{KlantId}");
                if (result.IsSuccessStatusCode)
                {
                    Klant = await result.Content.ReadFromJsonAsync<KlantDTO>();
                }
                else
                {
                    var content = await result.Content.ReadAsStringAsync();
                    if (!String.IsNullOrEmpty(content))
                    {
                        Error = content;
                    }
                    else
                    {
                        Error = "Something went wrong.";
                    }
                }
            }
        }
    }

    private async Task AddNewBooking() 
    {
        Boeking.GeboektOp = DateOnly.FromDateTime(DateTime.Today);
        Boeking.Reisid = ReisId;
        Boeking.Klantid = KlantId;
        using (var client = _httpFactory.CreateClient()) 
        { 
            var httpContent = new StringContent(JsonSerializer.Serialize<BoekingDTO>(Boeking), Encoding.UTF8, "application/json");
            // POST request
            var response = await client.PostAsync($"/api/boekingen", httpContent);

            if (!response.IsSuccessStatusCode)
            {
                var content = await response.Content.ReadAsStringAsync();
                if (!String.IsNullOrEmpty(content))
                {
                    Error = content;
                }
            }
            else 
            {
                IsSuccessful = true;
            }
            Modal.Close();
        }
    }
}
