@using BlazorApp1.Client.Components
@using BlazorApp1.Client.Models
@using Microsoft.AspNetCore.Authorization
@using System.Text.Json;
@using Reizen.CommonClasses.DTOs
@using System.Text

@page "/book/trip/{TripId:int}/client/{ClientId:int}"

@inject ILogger<BookTripForClient> _logger;
@inject IHttpClientFactory _httpFactory

@rendermode InteractiveServer

<div class="container">
    @if (Trip is not null && Client is not null)
    {
        <h2>Trip</h2>
        <div class="row">

            <div class="col-lg-3">   
                <p style="font:bold">Destination:</p>
            </div>
            <div class="col-lg-4">
                <p>@Trip.Destination.PlaceName</p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3">
                <p style="font:bold">Departure:</p>
            </div>
            <div class="col-lg-4"> 
                <p>@Trip.DateOfDeparture</p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3">
                <p style="font:bold">Number of days:</p>
            </div>
            <div class="col-lg-4">
                <p>@Trip.NumberOfDays</p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3">
                <p style="font:bold">Price per person:</p>
            </div>
            <div class="col-lg-4">
                <p>@Trip.PricePerPerson</p>
            </div>
        </div>

        <h2>Client</h2>
        <div class="row">
            <div class="col-lg-3">
                <p>@($"{Client.FirstName} {Client.FamilyName}")</p>
            </div>
            <div class="col-lg-4">
                <p>@Client.Address, @Client.Residence.PostalCode @Client.Residence.Name</p>
            </div>
        </div>
        <h2>Booking</h2>
        <EditForm Model="@Model" OnValidSubmit="@(() => Modal.Open())">
            <DataAnnotationsValidator/>
            <div class="row">
                <div class="col-lg-3">
                    <label for="aantalV">Number of adults</label>
                </div>
                <div class="col-lg-4">
                    <InputNumber @bind-Value:get="(Model.NumberOfAdults)" @bind-Value:set="((value) => Model.NumberOfAdults = value)" id="aantalV"></InputNumber>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-3">
                    <label for="aantalK">Number of kids</label>
                </div>
                <div class="col-lg-4">
                    <InputNumber @bind-Value:get="(Model.NumberOfMinors)" @bind-Value:set="((value) => Model.NumberOfMinors = value)" id="aantalK"></InputNumber>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-3">
                    <label>Cancellation insurance</label>
                </div>
                <div class="col-lg-4">
                    <InputCheckbox id="annulatieV" @bind-Value="@Model.HasCancellationInsurance"></InputCheckbox>
                </div>
            </div>
            <div class="row"><ValidationSummary/></div>

            <div class="row">
                <div class="col-lg-3">

                </div>
                <div class="col-lg-2">
                    <button type="submit" class="btn btn-primary" data-toggle="modal">Book trip</button>
                </div>

                <ModalComponent @ref="Modal" Message="Are you sure you want to book this trip?" Header="Confirmation" Callback="@(async () => { await AddNewBooking(); Modal.Close(); })"></ModalComponent>
            </div>
        </EditForm>
    } 
    else 
    {
        <p>Waiting for data</p>
    }
    @if (!String.IsNullOrEmpty(Error))
    {
        <div class="alert alert-danger">@Error</div>
    }
    else if (IsSuccessful)
    {
        <div class="alert alert-success">Booking successful</div>
    }
</div>



@code 
{
    private ModalComponent Modal { get; set; }

    [Parameter]
    public int TripId { get; init; }

    [Parameter]
    public int ClientId { get; init; }

    private ClientDTO? Client { get; set; }

    private TripDTO? Trip { get; set; }

    private BookTripForClientModel Model { get; set; } = new BookTripForClientModel { NumberOfMinors = 0, NumberOfAdults = 0, HasCancellationInsurance = false };

    private string Error { get; set; }

    private bool IsSuccessful { get; set; } = false;

    protected override async Task OnInitializedAsync()
    {
        if (TripId > 0) 
        {
            var httpClient = _httpFactory.CreateClient();

            var result = await HelperRequest.SendGetRequestAndParseJsonAsync<TripDTO>($"/api/trips/{TripId}", httpClient);
            if (result.IsSuccessful)
            {
                Trip = result.Value;
            }
            else
            {
                Error = result.Error;
            }
        }
        if (ClientId > 0 && Trip != null)
        {   
            using (var httpClient = _httpFactory.CreateClient()) 
            {
                var result = await HelperRequest.SendGetRequestAndParseJsonAsync<ClientDTO>($"/api/clients/{ClientId}", httpClient);
                if (result.IsSuccessful)
                {
                    Client = result.Value;
                }
                else
                {
                    Error = result.Error;
                }
            }
        }
    }

    private async Task AddNewBooking() 
    {
        var booking = new BookingDTO
            {
                NumberOfAdults = Model.NumberOfAdults,
                NumberOfMinors = Model.NumberOfMinors,
                HasCancellationInsurance = Model.HasCancellationInsurance,
                BookedOnDate = DateOnly.FromDateTime(DateTime.Today),
                TripId = TripId,
                ClientId = ClientId
            };

        using (var client = _httpFactory.CreateClient()) 
        { 
            var httpContent = new StringContent(JsonSerializer.Serialize<BookingDTO>(booking), Encoding.UTF8, "application/json");
            // POST request
            var response = await client.PostAsync($"/api/bookings", httpContent);

            if (!response.IsSuccessStatusCode)
            {
                var content = await response.Content.ReadAsStringAsync();
                if (!String.IsNullOrEmpty(content))
                {
                    Error = content;
                }
            }
            else 
            {
                IsSuccessful = true;
            }
        }
    }
}
