@{
    var uniqueId = $"accordion-{Guid.NewGuid ()}";
    var headingId = $"heading-{uniqueId}";
    var collapseId = $"collapse-{uniqueId}";
}
<div id="@uniqueId">
    <div class="card">
        <div class="card-header" id="@headingId">
            <h5 class="mb-0">
                <button class="btn btn-link" @onclick="OnEvent" data-toggle="collapse" data-target="#@collapseId" aria-expanded="false" aria-controls="@collapseId">
                    @Title
                </button>
                @* @ElementHeader *@
            </h5>
        </div>

        <div id="@collapseId" class="collapse show" aria-labelledby="@headingId" data-parent="#@uniqueId">
            @if (ShowBody)
            {
                <div class="card-body">
                    @ElementBody
                </div>
            }
        </div>
    </div>
</div>

@code {
    [Parameter]
    public string Title { get; set; }
    [Parameter]
    public RenderFragment ElementHeader { get; set; }
    [Parameter]
    public RenderFragment ElementBody { get; set; }
    [Parameter]
    public bool ShowBody { get; set; } = false;

    public void Toggle()
    {
        ShowBody = !ShowBody;
    }
}
